@model IEnumerable<DataLogic.Entities.BookingSystemEntity>

@{
    ViewBag.Title = "ChooseService";
}

<h2>ChooseService</h2>

<p>
    @Html.ActionLink("Registera nytt system", "CreateBookingSystem")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SystemName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SystemDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Website)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostaICode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SystemName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SystemDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Website)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactPhone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Adress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostaICode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.ActionLink("Gå till", "ChoosenService", new { id = item.BookningSystemId })
                </td>
            </tr>
            //<input type="submit" value="Gå till" onclick="location.href='@Url.Action("ChoosenService", "BookingSystem")'" />
    }

</table>
