@model DataLogic.Entities.BookingSystemEntity

@{
    ViewBag.Title = "ChoosenService";
}

<h2>ChoosenService</h2>

<div>
    <h4>BookingSystemEntity</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SystemName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SystemName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SystemDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SystemDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Website)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Website)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LatitudeAndLongitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LatitudeAndLongitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostaICode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostaICode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dd>
            @Html.ActionLink("Boka Tid", "BookTime", "Booking", new { id = Model.BookningSystemId }, null)
        </dd>

    </dl>
</div>
<p>

    @Html.ActionLink("Back to List", "AllServices")
</p>

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
</head>
<body>
    <div id="map"></div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAxzPnxjGlRXDkjvVNamfloAAx1eMYqyBw&callback=initMap"
            async defer></script>
</body>
</html>

<script>
    var map;
    function initMap() {
        geocoder = new google.maps.Geocoder();
        geocoder.geocode({ 'address': '@Model.Adress' }, function (results, status) {
            if (status == 'OK') {
                coords_obj = results[0].geometry.location;
                var mapOptions = {
                    zoom: 16,
                    center: new google.maps.LatLng(coords_obj.lat(), coords_obj.lng()),
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                };
                map = new google.maps.Map(document.getElementById('map'), mapOptions);

                var marker = new google.maps.Marker({
                    position: new google.maps.LatLng(coords_obj.lat(), coords_obj.lng()),
                    map: map,
                    title: '@Model.Adress'
                })

            } else {
                alert('Geocode was not successful for the following reason: ' + status);
            }
        });
    }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAxzPnxjGlRXDkjvVNamfloAAx1eMYqyBw&callback=initMap"
        async defer></script>
