@model IEnumerable<DataLogic.Entities.BookingSystemEntity>

@{
    ViewBag.Title = "GetAllBookingSystems";
}
<link href="~/Content/Site.css" rel="stylesheet" />
<br />
<h2>Alla bokningssysten</h2>
<br />


<table class="bookingsystem">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SystemName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SystemDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adress)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.PostaICode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostaICode)
        </th>

        <th>
            <h6>Delete</h6>
        </th>

        <th>
            <h6>Artiklar</h6>
        </th>


        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SystemName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SystemDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.Adress)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.PostaICode)
        </td>

        <td>
            @Html.ActionLink("Gå till " + item.SystemName, "ChoosenService", new { id = item.BookningSystemId })
        </td>

        <td>
            @Html.ActionLink("Delete", "GetAllBookingSystemsView", new { id = item.BookningSystemId })
        </td>

        <td>
            @Html.ActionLink("Lägg till artikel", "CreateArticle", "Article", new { id = item.BookningSystemId }, null)
        </td>
    </tr>
}

</table>
