@model DataLogic.Models.ArticleViewModels.AddArticleModel

@{
    ViewBag.Title = "CreateArticle";
}

<h2>AddArticle</h2>

@using (Html.BeginForm("ArticleAdded", "Article", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>ArticleEntity</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Article.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Article.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Article.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Article.Length, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Article.Length, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Article.Length, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Article.Price, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Article.Price, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Article.Price, "", new { @class = "text-danger" })
            </div>
        </div>

        @if (Model.BookingSystemServiceType == 1)
        {
            <div class="form-group">
                @Html.EnumDropDownListFor(model => model.Hairdresser, "Select My Type", new { @class = "form-control" }) @*skapa en dropdownlist till tjäsnter(enum)*@
            </div>
        }

        @if (Model.BookingSystemServiceType == 2)
        {
            <div class="form-group">
                @Html.EnumDropDownListFor(model => model.Massage, "Select My Type", new { @class = "form-control" }) @*skapa en dropdownlist till tjäsnter(enum)*@
            </div>
        }

        @if (Model.BookingSystemServiceType == 3)
        {
            <div class="form-group">
                @Html.EnumDropDownListFor(model => model.BeautySalon, "Select My Type", new { @class = "form-control" }) @*skapa en dropdownlist till tjäsnter(enum)*@
            </div>
        }

        @if (Model.BookingSystemServiceType == 4)
        {
            <div class="form-group">
                @Html.EnumDropDownListFor(model => model.Workshop, "Select My Type", new { @class = "form-control" }) @*skapa en dropdownlist till tjäsnter(enum)*@
            </div>
        }


        @Html.HiddenFor(model => model.BookingSystemId, new { htmlAttributes = new { @class = "form-control" } })
        @Html.HiddenFor(model => model.BookingSystemServiceType, new { htmlAttributes = new { @class = "form-control" } })

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

