@model IEnumerable<DataLogic.Entities.BookingTableEntity>

@{
    ViewBag.Title = "GetAllBookingTables";
}
<link href="~/Content/Site.css" rel="stylesheet" />
<h2>GetAllBookingTables</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="bookingTable">
    <tr>
 
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndTime)
        </th>
    
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
  
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndTime)
        </td>
   
     
        <td>
            @Html.ActionLink("Delete", "GetAllBookingTables", new { id = item.BookingTableId })
        </td>
    </tr>
}

</table>
