@model DataLogic.Models.BookTimeModel

@{
    /**/

    ViewBag.Title = "BookTime";
}

<h2>Booka Tid</h2>




@using (Html.BeginForm("BookTime", "Booking", FormMethod.Post))
{

    @Html.EditorFor(model => model.Time, new { htmlAttributes = new { @class = "datepicker" } })
    @Html.HiddenFor(model => model.ArticleId)
    <input type="submit" value="Välj dag" onclick="location.href='@Url.Action("BookTime", "BookingS", new { Model = Model })'" />
}

@if (Model.DateChoosen)
{
    @Html.HiddenFor(model => model.Time)
    @Html.HiddenFor(model => model.ArticleId)

    <div class="booking-button-main-div">
        @foreach (var item in Model.ListOfTimes)
        {
            if (!item.TimeBooked)
            {
                <button class="btn btn-success btn-block booking-button" onclick="location.href='@Url.Action("TimeBooked", "Booking", new
                                                                                            {
                                                                                                date = Model.Time,
                                                                                                startTime = item.StartTime,
                                                                                                endTime = item.EndTime,
                                                                                                articleId = Model.ArticleId,
                                                                                            })'">

                    @string.Format("Boka " + item.StartTime.ToString("HH':'mm") + "-" + item.EndTime.ToString("HH':'mm"))
                </button>
            }

            else
            {
                <button class="btn btn-danger btn-block booking-button" disabled>

                    @string.Format("Bokad " + item.StartTime.ToString("HH':'mm") + "-" + item.EndTime.ToString("HH':'mm"))
                </button>


            }
        }
    </div>
}

<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />

@section scripts{

    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>

    <script>
        $(function () {
            $(".datepicker").datepicker()

        });
    </script>

}



