@model DataLogic.Models.FindTimeModel

@{
    /**/

    ViewBag.Title = "BookTime";
}

<h2>Booka Tid</h2>




@using (Html.BeginForm("BookTime", "Booking", FormMethod.Post))
{

    @Html.EditorFor(model => model.Time, new { htmlAttributes = new { @class = "datepicker" } })
    @Html.HiddenFor(model => model.BookingSystem.BookningSystemId)
    @Html.HiddenFor(model => model.ArticleId)
    <input type="submit" value="Välj dag" onclick="location.href='@Url.Action("BookTime", "BookingS", new { Model = Model })'" />
}

@if (Model.DateChoosen)
{
    @Html.HiddenFor(model => model.BookingSystem.BookningSystemId)
    @Html.HiddenFor(model => model.Time)
    @Html.HiddenFor(model => model.ArticleId)
    foreach (var item in Model.ListOfTimes)
    {
        if (!item.TimeBooked)
        {
            @Html.ActionLink(item.StartTime.ToString("HH':'mm") + "-" + item.EndTime.ToString("HH':'mm"), "TimeBooked", new { date = Model.Time, startTime = item.StartTime, endTime = item.EndTime,
                id = Model.BookingSystem.BookningSystemId,  })
            <br />
        }

        else
        {
            @Html.Label(item.StartTime.ToString("HH':'mm"))
            @Html.Label("-")
            @Html.Label(item.EndTime.ToString("HH':'mm"))
            <br>
        }


    }
}

<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />

@section scripts{

    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>

    <script>
        $(function () {
            $(".datepicker").datepicker()

        });
    </script>

}



