@model DataLogic.Models.TimeBookedModel

<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
<link href="~/Content/Site.css" rel="stylesheet" />
@{
    ViewBag.Title = "TimeBooked";
}


<h2>Dina tider</h2>

<div>
    <hr />
    <table class="sa">
        <tr>
            <td>
                @Html.DisplayFor(model => model.BookingSystemEntity.SystemName)
                <br />

                @Html.DisplayFor(model => model.BookingSystemEntity.SystemDescription)
                <br />

                <p>Tiden du har bokat:</p>
                @string.Format("{0: yyyy-MM-dd}", Model.BookingTableEntity.Date)
                <br />

                @string.Format(" Tid  " + Model.BookingTableEntity.StartTime.ToString("HH':'mm") + "-" + Model.BookingTableEntity.EndTime.ToString("HH':'mm"))
            </td>
        </tr>
    </table>
</div>

@if (Model.ListOfFindTimeModelsForDifferentBookingSystems != null)
{
    <hr />
    <p>Lediga tider i närheten </p>

    <div class="pag">

        @foreach (var item in Model.ListOfFindTimeModelsForDifferentBookingSystems)
        {
            <table class="pag">
                <tbody>
                    <tr>
                        <td>


                            @Html.DisplayFor(model => item.BookingSystem.CompanyName)

                            @Html.DisplayFor(model => item.Article.Name)
                            @Html.DisplayFor(model => item.Article.Price)

                            <h5>Lediga tider</h5>
                            @foreach (var i in item.ListOfTimes)
                            {

                                @Html.ActionLink(i.StartTime.ToString("HH':'mm") + "-" + i.EndTime.ToString("HH':'mm"), "BookTime", new { id = item.BookingSystem.BookningSystemId })

                            }
                        </td>
                    </tr>
                </tbody>
            </table>
        }
    </div>
}

else
{
    <p>Inga system hittades</p>
}

@if (Model.ListOfFindTimeModelsForSameBookingSystem != null)
{
    <hr />
    <p>Lediga tider på samma företag </p>

    <div class="pag">

        @foreach (var item in Model.ListOfFindTimeModelsForSameBookingSystem)
        {
            <table class="pag">
                <tbody>
                    <tr>
                        <td>


                            @Html.DisplayFor(model => item.BookingSystem.CompanyName)

                            @Html.DisplayFor(model => item.Article.Name)
                            @Html.DisplayFor(model => item.Article.Price)

                            <h5>Lediga tider</h5>
                            @foreach (var i in item.ListOfTimes)
                            {

                                @Html.ActionLink(i.StartTime.ToString("HH':'mm") + "-" + i.EndTime.ToString("HH':'mm"), "BookTime", new { id = item.BookingSystem.BookningSystemId })

                            }
                        </td>
                    </tr>
                </tbody>
            </table>
        }
    </div>
}




