@model DataLogic.Models.TimeBookedModel

<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
<link href="~/Content/Site.css" rel="stylesheet" />
@{
    ViewBag.Title = "TimeBooked";
}


<h2>Dina tider</h2>

<div>
    <hr />
    <table class="sa">
        <tr>
            <td>
                @Html.DisplayFor(model => model.BookingSystemEntity.SystemName)
                <br />

                @Html.DisplayFor(model => model.BookingSystemEntity.SystemDescription)
                <br />

                <p>Tiden du har bokat:</p>
                @string.Format("{0: yyyy-MM-dd}", Model.BookingTableEntity.Date)
                <br />

                @string.Format(" Tid  " + Model.BookingTableEntity.StartTime.ToString("HH':'mm") + "-" + Model.BookingTableEntity.EndTime.ToString("HH':'mm"))
            </td>
        </tr>
    </table>
</div>

@if (Model.ListOfFindTimeModelsForDifferentBookingSystems != null)
{
    <hr />
    <p>Lediga tider i närheten </p>

    <div class="div-artiklar">

        @foreach (var item in Model.ListOfFindTimeModelsForDifferentBookingSystems)
        {
        <table class="table-artiklar">

            <tr>
                <td>


                    <h3>@Html.DisplayFor(model => item.BookingSystem.CompanyName) </h3>

                    <h4> @Html.DisplayFor(model => item.Article.Name)</h4>
                 
                    

                    <h5> @Html.DisplayFor(model => item.Article.Price) kr </h5> 
                </td>
            </tr>
            <tr>
                <td>
                    <h5>Lediga tider</h5>
                    </td>
                </tr>
                    @foreach (var i in item.ListOfTimes)
                    {
                <tr>
                    <td>
                        @Html.ActionLink(i.StartTime.ToString("HH':'mm") + "-" + i.EndTime.ToString("HH':'mm"), "BookTime", new { id = item.BookingSystem.BookningSystemId })
                    </td>
                </tr>
            }


                </table>
        }
    </div>
}

else
{
    <p>Inga system hittades</p>
}

@if (Model.ListOfFindTimeModelsForSameBookingSystem != null)
{
    <hr />
    <p>Lediga tider på samma företag </p>

    <div class="div-aritklarOlikaFöretag">

        @foreach (var item in Model.ListOfFindTimeModelsForSameBookingSystem)
        {
            <table class="table-artiklarOlikaFöretag">
                <tbody>
                    <tr>
                        <td>


                            <h3>  @Html.DisplayFor(model => item.BookingSystem.CompanyName)</h3>
                         
                            <h4>  @Html.DisplayFor(model => item.Article.Name)</h4>
                   

                           
                            <h5>  @Html.DisplayFor(model => item.Article.Price) kr </h5> 
                        </td>
                 
                       
                    </tr>  
                    <tr>
                        <td>
                            <h5>Lediga tider</h5>
                       
                        </td>
                    </tr>
                    @foreach (var i in item.ListOfTimes)
                    {
                        <tr>
                            <td>
                                @Html.ActionLink(i.StartTime.ToString("HH':'mm") + "-" + i.EndTime.ToString("HH':'mm"), "BookTime", new { id = item.BookingSystem.BookningSystemId })
                            </td>
                        </tr>

                    }

                </tbody>
            </table>
        }
    </div>
}




