@model DataLogic.Models.TimeBookedModel

<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
<link href="~/Content/Site.css" rel="stylesheet" />
@{
    ViewBag.Title = "TimeBooked";
}


<h2>Dina tider</h2>

<div>
    <hr />
    <table class="table table-striped" style="width:40%">
        <tr>
            <td>
                @Html.DisplayFor(model => model.BookingSystemEntity.SystemName)
                <br />

                @Html.DisplayFor(model => model.BookingSystemEntity.SystemDescription)
                <br />

                <p>Tiden du har bokat:</p>
                @string.Format("{0: yyyy-MM-dd}", Model.BookingTableEntity.Date)
                <br />

                @string.Format(" Tid  " + Model.BookingTableEntity.StartTime.ToString("HH':'mm") + "-" + Model.BookingTableEntity.EndTime.ToString("HH':'mm"))
            </td>
        </tr>
    </table>
</div>

@if (Model.ListOfFindTimeModels != null)
{

<div class="page">
    <p>Lediga tider i närheten </p>
    <table >


        @foreach (var item in Model.ListOfFindTimeModels)
        {
        <tr>
            <th>Företag</th>
            <th>Tjänst</th>
            <th> Price</th>
        </tr>
            <tr>
                <td>
                    @Html.DisplayFor(model => item.BookingSystem.CompanyName)
                </td>


                <td>  @Html.DisplayFor(model => item.Article.Name)</td>



                <td>

                    @Html.DisplayFor(model => item.Article.Price)
                </td>

            </tr>
            <tr>
                <th>Lediga tider</th>
            </tr>
            foreach (var i in item.ListOfTimes)
            {

                <tr>
                    <td>


                        @Html.ActionLink(i.StartTime.ToString("HH':'mm") + "-" + i.EndTime.ToString("HH':'mm"), "BookTime", new { id = item.BookingSystem.BookningSystemId })
                    </td>

                </tr>

            }

        }


    </table>
       
    </div>
}
else
{
    <p>Inga system hittades</p>
}
