@model DataLogic.Models.TimeBookedModel

@{
    ViewBag.Title = "TimeBooked";
}

<h2>Dina tider</h2>

<div>
    <hr />
    <table class="table table-striped" style="width:40%">
        <tr>
            <td>
                @Html.DisplayFor(model => model.BookingSystemEntity.SystemName)
                <br />

                @Html.DisplayFor(model => model.BookingSystemEntity.SystemDescription)
                <br />

                <p>Tiden du har bokat:</p>
                @string.Format("{0: yyyy-MM-dd}", Model.BookingTableEntity.Date)
                <br />

                @string.Format(" Tid  " + Model.BookingTableEntity.StartTime.ToString("HH':'mm") + "-" + Model.BookingTableEntity.EndTime.ToString("HH':'mm"))
            </td>
        </tr>
    </table>
</div>

@if (Model.ListOfFindTimeModels != null)
{

    <div>
        <p>Andra bokningssystem i samma stad</p>
        <table class="table table-info" style="width:20%" >
            <tr>
                <td>
                    @foreach (var item in Model.ListOfFindTimeModels)
                    {
                        @Html.DisplayFor(model => item.BookingSystem.CompanyName)
                        <br />
                        <p>Lediga tider</p>
                        foreach (var i in item.ListOfTimes)
                        {


                            <ul>

                                <li>

                                   
                                    @Html.ActionLink(i.StartTime.ToString("HH':'mm") + "-" + i.EndTime.ToString("HH':'mm"), "BookTime", new { id = item.BookingSystem.BookningSystemId })
                                    <br />

                                </li>
                            </ul>
                        }
                    }
                </td>
            </tr>
        </table>

    </div>
}
else
{
    <p>Inga system hittades</p>
}
