@model DataLogic.Models.TimeBookedModel

<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
<link href="~/Content/Site.css" rel="stylesheet" />

<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

@{
    ViewBag.Title = "TimeBooked";
}


<h2>Dina tider</h2>

<div>
    <hr />
    <table class="sa">
        <tr>
            <td>
                @Html.DisplayFor(model => model.BookingSystemEntity.SystemName)
                <br />

                @Html.DisplayFor(model => model.BookingSystemEntity.SystemDescription)
                <br />

                <p>Tiden du har bokat:</p>
                @string.Format("{0: yyyy-MM-dd}", Model.BookingTableEntity.Date)
                <br />

                @string.Format(" Tid  " + Model.BookingTableEntity.StartTime.ToString("HH':'mm") + "-" + Model.BookingTableEntity.EndTime.ToString("HH':'mm"))
            </td>
        </tr>
    </table>
</div>

@if (Model.ListOfFindTimeModelsForDifferentBookingSystems != null)
{
    <hr />
    <p>Lediga tider i närheten </p>


    <div class="container section-plan">
        <div class="row">
            @foreach (var item in Model.ListOfFindTimeModelsForDifferentBookingSystems)
            {

                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="row plan-box plan-danger text-center">
                        <div class="col-md-12 section1">
                            <h2>@Html.DisplayFor(model => item.BookingSystem.CompanyName)</h2>
                        </div>
                        <div class="col-md-12 section2">
                            <h3>@Html.DisplayFor(model => item.Article.Price) kr</h3>
                        </div>
                        <div class="col-md-12 section3">
                            <p>@Html.DisplayFor(model => item.Article.Name)</p>
                            <p>@Html.DisplayFor(model => item.Article.Length)min</p>
                        </div>
                        @foreach (var i in item.ListOfTimes)
                        {
                            <div class="col-md-12 section4">
                                <button class="btn btn-danger btn-block">
                                    @Html.ActionLink(i.StartTime.ToString("HH':'mm") + "-" + i.EndTime.ToString("HH':'mm"), "BookTime", new { id = item.BookingSystem.BookningSystemId })
                                </button>
                            </div>
                            <br />
                        }
                    </div>
                </div>
            }
        </div>
    </div>

}

else
{
    <p>Inga system hittades</p>
}

@if (Model.ListOfFindTimeModelsForSameBookingSystem != null)
{
    <hr />
    <p>Lediga tider på samma företag </p>

    <div class="div-aritklarOlikaFöretag">

        @foreach (var item in Model.ListOfFindTimeModelsForSameBookingSystem)
        {
            <table class="table-artiklarOlikaFöretag">
                <tbody>
                    <tr>
                        <td>
                            <h3>  @Html.DisplayFor(model => item.BookingSystem.CompanyName)</h3>
                            <h4>  @Html.DisplayFor(model => item.Article.Name)</h4>
                            <h5>  @Html.DisplayFor(model => item.Article.Price) kr </h5>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5>Lediga tider</h5>

                        </td>
                    </tr>

                    @foreach (var i in item.ListOfTimes)
                    {
                        <tr>
                            <td>
                                @Html.ActionLink(i.StartTime.ToString("HH':'mm") + "-" + i.EndTime.ToString("HH':'mm"), "BookTime", new { id = item.BookingSystem.BookningSystemId })
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        }
    </div>
}




