@model DataLogic.Models.TimeBookedModel

<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
<link href="~/Content/Site.css" rel="stylesheet" />



@{
    ViewBag.Title = "TimeBooked";
}

<div>
    <hr />
    <table>
        <tr>
            <td class="sa">
                <h3>Din Bokning:</h3>
                @Html.DisplayFor(model => model.BookingSystem.SystemName)
                <br />

                @Html.DisplayFor(model => model.Article.Name)
                <br />

                @string.Format("{0: yyyy-MM-dd}", Model.BookingTable.Date)
                <br />

                @string.Format(" Tid  " + Model.BookingTable.StartTime.ToString("HH':'mm") + "-" + Model.BookingTable.EndTime.ToString("HH':'mm"))
                </td>
        </tr>
    </table>
</div>

@if(Model.ListOfFindTimeModelsForDifferentBookingSystems.Count() > 0)
{
    <hr />
    <p>Lediga tider i närheten </p>

    <div class="container section-plan">
        <div class="row">
            @foreach (var item in Model.ListOfFindTimeModelsForDifferentBookingSystems)
            {
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="row plan-box plan-danger text-center">
                        <div class="col-md-12 section1">
                            <h2>@Html.DisplayFor(model => item.BookingSystem.CompanyName)</h2>
                        </div>
                        <div class="col-md-12 section2">
                            <h3>@Html.DisplayFor(model => item.Article.Price) kr</h3>
                        </div>
                        <div class="col-md-12 section3">
                            <p>@Html.DisplayFor(model => item.Article.Name)</p>
                            <p>@Html.DisplayFor(model => item.Article.Length)min</p>
                        </div>
                        @foreach (var i in item.ListOfTimes)
                        {
                            <div class="col-md-12 section4">
                                <button class="btn btn-danger btn-block" onclick="location.href='@Url.Action("TimeBooked", "Booking", new
                                                                                            {
                                                                                                date = item.Time,
                                                                                                startTime = i.StartTime,
                                                                                                endTime = i.EndTime,
                                                                                                articleId = item.Article.ArticleId,
                                                                                            })'">

                                    @*@Html.Label("Boka " + i.StartTime.ToString("HH':'mm") + "-" + i.EndTime.ToString("HH':'mm"))*@
                                    @string.Format("Boka " + i.StartTime.ToString("HH':'mm") + "-" + i.EndTime.ToString("HH':'mm"))
                                </button>
                            </div>
                            <br />
                        }
                    </div>
                </div>
            }
        </div>
    </div>
}

else
{
    <p>Inga system hittades</p>
}

@if(Model.ListOfFindTimeModelsForSameBookingSystem.Count() > 0)
{
    <hr />
    <p>Lediga tider på samma företag </p>

    <div class="container section-plan">
        <div class="row">
            @foreach (var item in Model.ListOfFindTimeModelsForSameBookingSystem)
            {
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="row plan-box plan-success text-center">
                        <div class="col-md-12 section1">
                            <h2>@Html.DisplayFor(model => item.BookingSystem.CompanyName)</h2>
                        </div>
                        <div class="col-md-12 section2">
                            <h3>@Html.DisplayFor(model => item.Article.Price) kr</h3>
                        </div>
                        <div class="col-md-12 section3">
                            <p>@Html.DisplayFor(model => item.Article.Name)</p>
                            <p>@Html.DisplayFor(model => item.Article.Length)min</p>
                        </div>
                        @foreach (var i in item.ListOfTimes)
                        {
                            <div class="col-md-12 section4">
                                <button class="btn btn-success btn-block" onclick="location.href='@Url.Action("TimeBooked", "Booking", new
                                                                                            {
                                                                                                date = item.Time,
                                                                                                startTime = i.StartTime,
                                                                                                endTime = i.EndTime,
                                                                                                articleId = item.Article.ArticleId,
                                                                                            })'">

                                    @*@Html.Label("Boka " + i.StartTime.ToString("HH':'mm") + "-" + i.EndTime.ToString("HH':'mm"))*@
                                    @string.Format("Boka " + i.StartTime.ToString("HH':'mm") + "-" + i.EndTime.ToString("HH':'mm"))
                                </button>
                            </div>
                            <br />
                        }
                    </div>
                </div>
            }
        </div>
    </div>
}




