@model DataLogic.Models.TimeBookedModel

@{
    ViewBag.Title = "TimeBooked";
}

<h2>Dina tider</h2>

<div>
    <hr />
    <table class="table table-striped" style="width:40%">
        <tr>
            <td>
                @Html.DisplayFor(model => model.BookingTableEntity.BookingSystem.SystemName)
                <br />

                @Html.DisplayFor(model => model.BookingTableEntity.BookingSystem.SystemDescription)
                <br />

                <p>Tiden du har bokat:</p>
                @string.Format("{0: yyyy-MM-dd}", Model.BookingTableEntity.Date)
                <br />

                @string.Format(" Tid  " + Model.BookingTableEntity.StartTime + ":00-" + Model.BookingTableEntity.EndTime + ":00")
            </td>
        </tr>
    </table>
</div>
<p>
    @Html.ActionLink("Alla tjänster", "AllServices")
</p>
@if (Model.ListOfFindTimeModels != null)
{
    <div>
        <p>Andra bokningssystem i samma stad</p>
        <table>
            <tr>
                <td>
                    @foreach (var item in Model.ListOfFindTimeModels)
                    {
                        @Html.DisplayFor(model => item.BookingSystem.CompanyName)
                        foreach(var i in item.ListOfTimes)
                        {
                            @Html.DisplayFor(imodel => i.StartTime)
                            @Html.DisplayFor(imodel => i.EndTime)
                        }
                    }
                </td>
            </tr>
        </table>
    </div>
}
else
{
    <p>Inga system hittades</p>
}
